.card{
    border: 1px solid #0c0c0c;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer; 
    transition: 0.115s;
  }
  
  .card:hover {
    box-shadow: 0.2rem 0.2rem;
    translate: -0.2rem -0.2rem;
  }
  .card > h2 {
    font-size: 2rem;
    border-left: 0.3rem solid #7DF9FF; 
    padding-left: 1rem;
  }
  
  .card img {
    border-radius: 1rem;
    max-width: 100%;
  }
  
  .tags {
    padding: 0 0.35rem;
  }
  
  .tags > .tag {
    padding: 0 1rem ;
    background-color: #7DF9FF; 
    border-radius: 0.5rem;
    margin: 1rem;
  }